body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0f0f1f;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 2.5rem;
}

h1 span {
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 7px;
}

form {
  margin-top: 20px;
}

form input, form select {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

form input[type="datetime-local"] {
  color: #777;
}

form button {
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: #00aaff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0088cc;
}

div.transactions {
  margin-top: 20px;
}

div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #30313d;
}

div.transaction:first-child {
  border-top: 0;
}

div.transaction div.name {
  font-size: 1rem;
  color: #fff;
}

div.transaction div.description {
  font-size: 0.7rem;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green {
  color: #1c1;
}

div.price.red {
  color: #c11;
}

div.transaction div.datetime {
  font-size: 0.7rem;
  color: #888;
}